body{
    width: 33%;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
}
div  {
    border:1px solid lightskyblue;
    background-color: purple;
    text-align: center;
}

